<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuzz.rookieCrates.mapper.CrateLootMapper">



    <!-- 定义 CrateLootResultMap 映射 -->
    <resultMap id="CrateLootResultMap" type="com.cuzz.rookieCrates.core.model.CrateLoot">
        <id property="id" column="id"/>  <!-- 映射主键 -->
        <result property="displayName" column="name"/>
        <result property="lootItemStackBase64" column="loot_itemstack_base64"/>
        <result property="lores" column="lores"/>
        <result property="description" column="description"/>
        <result property="rarity" column="rarity"/>
        <result property="weight" column="weight"/>
        <result property="crateId" column="crateId"/>
        <result property="amount" column="amount"/>

    </resultMap>

    <!-- 定义 CrateMap 映射 -->
    <resultMap id="CrateResultMap" type="com.cuzz.rookieCrates.core.model.Crate">
        <id property="id" column="id"/>  <!-- 映射主键 -->
        <result property="displayName" column="name"/>
        <collection property="crateLoots" ofType="CrateLoot" select="selectCrateLootsByCrateId" column="crate_id"/>

    </resultMap>
    <!-- 查询 CrateLoots -->
    <select id="selectCrateLootsByCrateId" parameterType="String" resultType="CrateLoot">
        SELECT loot_id, loot_name, probability
        FROM rookie_crate_loot
        WHERE crate_id = #{crateId}
    </select>


    <!-- 使用 ResultMap 映射查询结果 -->
    <select id="getCrateById"  parameterType="String" resultMap="CrateResultMap">
        SELECT id, name
        FROM rookie_crate
        WHERE id = #{id}
    </select>

    <!--    测试语句-->
</mapper>